.contenedor_destination {
  background-image: url("/assets/destination/background-destination-mobile.jpg");
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: -1;
  display: flex;
  flex-direction: column;
  color: var(--smooth);
  align-items: center;
  padding: 12rem 2rem;
}
@media (min-width: 602px) {
  .contenedor_destination {
    height: 110vh;
    background-image: url("/assets/destination/background-destination-tablet.jpg");
    align-items: flex-start;
  }
}
@media (min-width: 998px) {
  .contenedor_destination {
    height: 100vh;
    padding: 20rem 10vw 5rem 13vw;
    background-image: url("/assets/destination/background-destination-desktop.jpg");
  }
}
.contenedor_destination-titulo {
  font-size: 1.6rem;
  font-family: "Barlow Condensed", sans-serif;
  letter-spacing: 0.27rem;
  color: var(--white);
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 3.2rem;
}
@media (min-width: 376px) {
  .contenedor_destination-titulo {
    font-size: 2rem;
    letter-spacing: 0.338rem;
  }
}
@media (min-width: 998px) {
  .contenedor_destination-titulo {
    font-size: 2.8rem;
    letter-spacing: 0.472rem;
  }
}
.contenedor_destination-titulo span {
  font-weight: bold;
  color: rgb(139, 139, 139);
}
.contenedor_informacion {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 2.6rem;
}
@media (min-width: 998px) {
    .contenedor_informacion {
        flex-direction: row;
        justify-content: center;
        gap: 15.7rem;
  } 
}
.contenedor_informacion-imagen {
  position: relative;
  height: 17rem;
  width: 17rem;
  z-index: 2;
}
@media (min-width: 602px) {
  .contenedor_informacion-imagen {
    height: 30rem;
    width: 30rem;
  }
}
@media (min-width: 998px) {
  .contenedor_informacion-imagen {
    width: 25vw;
    height: 25vw;
  }
}
.contenedor_informacion-general {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.6rem;
}
@media (min-width: 998px) {
    .contenedor_informacion-general{
        width: 40%;
        align-items: flex-start;
    }
}
.contenedor_informacion-general hr {
  border: none;
  width: 100%;
  height: 0.01rem;
  background-color: #979797;
}
.contenedor_informacion-general-navegacion {
  display: flex;
  justify-content: center;
  gap: 3.6rem;
  font-family: "Barlow Condensed", sans-serif;
}
@media (min-width: 998px) {
    .contenedor_informacion-general-navegacion{
        justify-content: flex-start;
    }
}
.contenedor_informacion-general-navegacion a {
  text-decoration: none;
  text-transform: uppercase;
  color: var(--smooth);
  letter-spacing: 0.27rem;
  position: relative;
  font-size: 1.4rem;
  cursor: pointer;
}
.contenedor_informacion-general-navegacion_activo{
    color: var(--white);
}
.contenedor_informacion-general-navegacion a:hover::after,
.contenedor_informacion-general-navegacion_activo::after {
  content: "";
  position: absolute;
  height: 0.3rem;
  width: 100%;
  bottom: -1.2rem;
  left: -.1rem;
  z-index: 1;
  background-color: var(--smooth);
}
.contenedor_informacion-general-navegacion_activo::after {
  background-color: var(--white);
}
@media (min-width: 602px) {
  .contenedor_informacion-general-navegacion a {
    height: 100%;
    font-size: 1.6rem;
    letter-spacing: 0.27rem;
}
}
.nombre_planeta {
    font-size: 5.6rem;
    text-transform: uppercase;
    font-family: "Bellefair", serif;
    font-weight: 400;
    color: var(--white);
}
@media (min-width: 602px) {
    .nombre_planeta {
      font-size: 8rem;
  } 
}
@media (min-width: 998px) {
    .nombre_planeta {
      font-size: 10rem;
  } 
}
.descripcion_planeta {
  font-family: "Barlow", sans-serif;
  font-size: 1.5rem;
  line-height: 2.5rem;
  text-align: center;
}
@media (min-width: 602px) {
  .descripcion_planeta {
    font-size: 1.6rem;
    line-height: 2.8rem;
    width: 80%;
  } 
}
@media (min-width: 998px) {
    .descripcion_planeta{
      width: 95%;
        line-height: 3.2rem;
        font-size: 1.8rem;
        text-align: left;
    }
}
.detalles_planeta {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3.2rem;
}
@media (min-width: 602px) {
    .detalles_planeta{
        gap: 7.9rem;
        flex-direction: row;
        align-items: flex-start;
    }
}
.detalles_planeta-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.2rem;
}
@media (min-width: 998px) {
    .detalles_planeta-info{
        align-items: flex-start;
    }
    
}
.detalles_planeta-info h3 {
  font-family: "Barlow Condensed", sans-serif;
  font-size: 1.4rem;
  font-weight: 400;
  letter-spacing: 0.236rem;
  text-transform: uppercase;
}
.detalles_planeta-info p {
  font-family: "Bellefair", serif;
  font-size: 2.8rem;
  text-transform: uppercase;
  color: var(--white);
}
